* {
  font-family: Satoshi, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: inherit;
  border: none;
}

.body {
  height: 100vh;
  background: #1E1E27;
}
